*{
    box-sizing: border-box;
}


html, body{
    margin: 0;
    /* background: url('../img/chinese_name.jpg') no-repeat center fixed; */
}

img{
    width:100%;
    height: auto;
}

/* header and navigation bar */

header {
    width: 100%;
    padding: 0;
    height: 100px;
    background-color: grey;
    overflow-y: hidden;
    /* position: fixed; */
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: url('../img/waterpattern.webp');
    position: relative;
    /* position: relative; */
}

header h1{
    padding: 10%;
}

h1 {
    color: #333;
    font-size: 30px;

}

nav ul{
    margin:0; 
    display: flex;
    list-style-type: none;
    text-align: center;
    background-color:rgba(40,40,40,0.5);
}

nav li{
    font-size: 10px;
    height: 50px;
    width: 120px;
    line-height: 50px;
}

nav a{
    text-decoration: none;
    color: #333;
    display: block;
    transition: 1s;
}

nav a:hover{
    background-color:rgba(40,40,40,0.5) ;
    color: white;
}

nav a:active{
    background-color: rgba(40,40,40,0.5);
    color: white;
}


/* img */

.container{
   width:100%;
   height: 100%;
   margin: 0;
}

.bottom_nav{
margin: 0;
}


/* Tablet */

@media screen and (min-width: 768px;) and (max-width:1024px;){
    .container{
        width: 100%;
        height: 100%;
        margin: 0;
    }
}