/* default setting */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: burlywood;
}

img {
  width: 100%;
  height: auto;
}

/* header and navigation bar during desktop mode */

header {
  width: 100%;
  padding: 0;
  height: 100px;
  background-color: violet;
  overflow-y: hidden;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 10; /* fized z -index value*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url("./img/waterpattern.webp");
  position: relative;
}

/* header edits */

.top_nav h1 {
  padding: 10%;
}

h1 {
  color: #333;
  font-size: 30px;
}

/* nav bar */

#main_nav ul {
  /* the width 100% make sure it takes up the entire space */
  width: 100%;
  margin: 0;
  display: flex;
  list-style-type: none;
  text-align: center;
  /* background-color: rgba(40, 40, 40, 0.5); */
  justify-content: flex-end;
}

#main_nav li {
  font-size: 10px;
  height: 50px;
  min-width: 100px;
  line-height: 50px;
}

#main_nav a {
  height: 100%;
  /* padding around the text */
  padding: 0 30px;
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  transition: 1s;
  font-size: 20px;
}

#main_nav a:hover {
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
}

#main_nav a:active {
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
}

/* img setting on desktop mode */

.container {
  width: 100%;
  margin: 0;
  scale: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Only seeing the img I want on their own screen size */

#desktop {
  display: block;
}

#tablet {
  display: none;
}

#mobile {
  display: none;
}

.home_page {
  display: none;
}

/* Bottom navigation */

.bottom_nav ul {
  margin: 0;
  display: flex;
  list-style-type: none;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  background: url("./img/waterpattern.webp");
}

.bottom_nav li {
  font-size: 10px;
  height: 50px;
  min-width: 100px;
  line-height: 50px;
}

.bottom_nav a {
  text-decoration: none;
  color: #333;
  display: block;
  transition: 1s;
  font-size: 20px;
}

.bottom_nav a:hover {
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
}

.bottom_nav a:active {
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
}

/* Tablet Screen Mode */

@media screen and (max-width: 1024px) {
  body {
    background-color: burlywood;
  }
  /* The img setting's */
  .container {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  /* Navigation bar */

  /* Top nav */
  .top_nav {
    height: 60px;
  }

  .top_nav h1 {
    font-size: 1.5rem;
    width: 10rem;
  }

  #main_nav ul {
    width: 100%;
    flex-direction: row;
  }

  #main_nav li {
    min-width: 5rem;
  }

  #main_nav a {
    text-align: center;
  }

  /* bottom nav */
  .bottom_nav {
    position: absolute;
    width: 100%;
  }

  #second_nav ul {
    width: auto;
    align-items: center;
    padding: 0;
  }

  #second_nav li {
    /* min-width: center; */
    padding-left: 0;
    padding-right: 0;
    justify-content: space-evenly;
    text-align: center;
  }

  #second_nav a {
    font-size: 10px;
    justify-items: left;
  }

  /* Screen Mode display */
  #desktop {
    display: none;
  }

  #tablet {
    display: block;
  }

  #mobile {
    display: none;
  }

  #home_page {
    display: hidden;
  }

  .home_page {
    display: none;
  }
}
/* phone screen mode */
@media screen and (max-width: 768px /* 767?*/) {
  /* img edits */
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: -2;
  }

  /* menu */

  .home_page {
    display: block;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    font-size: 2rem;
    color: #aaa;
    cursor: pointer;
  }

  /* Top nav */
  header {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0;
  }

  h1 {
    margin: 0.5rem;
  }

  /* menu */

  .home_page {
    display: block;
    position: flex;
    right: 1rem;
    top: 0.5rem;
    font-size: 2rem;
    color: #aaa;
    cursor: pointer;
  }

  #main_nav ul {
    flex-direction: column;
    width: 100%;
    z-index: 999;
  }

  #main_nav ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
  }
  /* bottom navigation */

  .bottom-nav {
    width: 100%;
  }

  #second_nav a {
    justify-items: left;
  }

  /* display the img on phone screen mode */
  .home_page {
    display: block;
  }

  #desktop {
    display: none;
  }

  #tablet {
    display: none;
  }

  #mobile {
    display: block;
  }
}

/* try two  */
/* default setting */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: burlywood;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

/* header and navigation bar during desktop mode */
header {
  width: 100%;
  padding: 0;
  height: 100px;
  background-color: violet;
  overflow-y: hidden;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 10; /* Fixed z-index value */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url("./img/waterpattern.webp");
  position: relative;
}

/* header edits */
.top_nav h1 {
  padding: 10%;
}

h1 {
  color: #333;
  font-size: 30px;
}

/* nav bar */
#main_nav ul {
  width: 100%;
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  text-align: center;
}

#main_nav li {
  font-size: 10px;
  height: 50px;
  min-width: 100px;
  line-height: 50px;
}

#main_nav a {
  height: 100%;
  padding: 0 30px; /* Fixed padding */
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  transition: 1s;
  font-size: 20px;
}

#main_nav a:hover,
#main_nav a:active {
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
}

/* img setting on desktop mode */
.container {
  width: 100%;
  margin: 0;
  scale: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Only seeing the img I want on their own screen size */
#desktop {
  display: block;
}

#tablet,
#mobile {
  display: none;
}

/* Bottom navigation */
.bottom_nav ul {
  margin: 0;
  display: flex;
  list-style-type: none;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  background: url("./img/waterpattern.webp");
}

.bottom_nav li {
  font-size: 10px;
  height: 50px;
  min-width: 100px;
  line-height: 50px;
}

.bottom_nav a {
  text-decoration: none;
  color: #333;
  display: block;
  transition: 1s;
  font-size: 20px;
}

.bottom_nav a:hover,
.bottom_nav a:active {
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
}

/* Tablet Screen Mode */
@media screen and (max-width: 1024px) {
  body {
    background-color: burlywood;
  }

  /* Navigation bar */
  .top_nav {
    height: 60px;
  }

  .top_nav h1 {
    font-size: 1.5rem;
    width: 10rem;
  }

  #main_nav ul {
    width: 100%;
    flex-direction: row;
  }

  #main_nav li {
    min-width: 5rem;
  }

  #main_nav a {
    text-align: center;
  }

  .bottom_nav {
    position: relative;
    width: 100%; /* Fixed position issue */
  }

  #second_nav ul {
    width: auto;
    align-items: center;
    padding: 0;
  }

  #second_nav li {
    padding-left: 0;
    padding-right: 0;
    justify-content: space-evenly;
    text-align: center;
  }

  #second_nav a {
    font-size: 10px;
    justify-items: left;
  }

  /* Display Screen Mode */
  #desktop {
    display: none;
  }

  #tablet {
    display: block;
  }

  #mobile {
    display: none;
  }

  .home_page {
    display: none;
  }
}

/* Phone screen mode */
@media screen and (max-width: 768px) {
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home_page {
    display: block;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    font-size: 2rem;
    color: #aaa;
    cursor: pointer;
  }

  .top_nav {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    position: fixed; /* Make it fixed to the top*/
    top: 0; /*new edits*/
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: violet;
  }

  h1 {
    margin: 0.5rem;
  }

  #main_nav ul {
    flex-direction: column;
    width: 100%;
  }

  #main_nav ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
  }

  .bottom_nav {
    width: 100%;
  }

  #second_nav a {
    justify-items: left;
  }

  #desktop,
  #tablet {
    display: none;
  }

  #mobile {
    display: block;
  }
}

/* Library version 2 */

/* default setting */
* {
  box-sizing: border-box;
}

html,
body {
  /* new changes */
  /* height: 100%;
  margin: 0;
  display: flex;
  flex: column; */
  /* end changes */
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: burlywood;
}

img {
  width: 100%;
  height: auto;
}

/* header and navigation bar during desktop mode */
header {
  width: 100%;
  padding: 0;
  height: 100px;
  background-color: violet;
  overflow-y: hidden;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 10; /* Fixed z-index value */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url("./img/waterpattern.webp");
  position: relative;
}

/* header edits */
.top_nav h1 {
  padding: 10%;
}

h1 {
  color: #333;
  font-size: 30px;
}

/* nav bar */
#main_nav ul {
  width: 100%;
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

#main_nav li {
  font-size: 10px;
  height: 50px;
  min-width: 100px;
  line-height: 50px;
}

#main_nav a {
  height: 100%;
  padding: 0 30px; /* Fixed padding */
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  transition: 1s;
  font-size: 20px;
}

#main_nav a:hover,
#main_nav a:active {
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
}

/* img setting on desktop mode */
.container {
  /* new changes */
  /* flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; */
  /* end changes */
  width: 100%;
  margin: 0;
  scale: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Only seeing the img I want on their own screen size */
#desktop {
  display: block;
}

#tablet,
#mobile {
  display: none;
}

/* Bottom navigation */
/* .bottom_nav {
  width: 100%;
  background: url("./img/waterpattern.webp");
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
} */

.bottom_nav ul {
  margin: 0;
  display: flex;
  list-style-type: none;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  background: url("./img/waterpattern.webp");
}

.bottom_nav li {
  font-size: 10px;
  height: 50px;
  min-width: 100px;
  line-height: 50px;
}

.bottom_nav a {
  text-decoration: none;
  color: #333;
  display: block;
  transition: 1s;
  font-size: 20px;
}

.bottom_nav a:hover,
.bottom_nav a:active {
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
}

/* Tablet Screen Mode */
@media screen and (max-width: 1024px) {
  body {
    background-color: burlywood;
  }

  /* Navigation bar */
  .top_nav {
    height: 60px;
  }

  .top_nav h1 {
    font-size: 1.5rem;
    width: 10rem;
  }

  #main_nav ul {
    width: 100%;
    flex-direction: row;
  }

  #main_nav li {
    min-width: 5rem;
  }

  #main_nav a {
    text-align: center;
  }

  .bottom_nav {
    position: relative;
    width: 100%; /* Fixed position issue */
  }

  #second_nav ul {
    width: auto;
    align-items: center;
    padding: 0;
  }

  #second_nav li {
    padding-left: 0;
    padding-right: 0;
    justify-content: space-evenly;
    text-align: center;
  }

  #second_nav a {
    font-size: 10px;
    justify-items: left;
  }

  /* Display Screen Mode */
  #desktop {
    display: none;
  }

  #tablet {
    display: block;
  }

  #mobile {
    display: none;
  }

  .home_page {
    display: none;
  }
}

/* Phone screen mode */
@media screen and (max-width: 768px) {
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home_page {
    display: block;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    font-size: 2rem;
    color: #aaa;
    cursor: pointer;
  }

  header {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0;
  }

  h1 {
    margin: 0.5rem;
  }

  #main_nav ul {
    flex-direction: column;
    width: 100%;
  }

  #main_nav ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
  }

  .bottom_nav {
    width: 100%;
  }

  #second_nav a {
    justify-items: left;
  }

  #desktop,
  #tablet {
    display: none;
  }

  #mobile {
    display: block;
  }
}
