* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

html,
body {
  margin: 0;
  background-color: burlywood;
}

img {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

/* Desktop Styling */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url(../../Home_Page/img/herringbone.webp);
  padding: 1rem;
  position: relative;
  height: 6rem;
  width: 100%;
}
/* Name:Harry Wu */
.name_nav {
  margin: 0;
  padding-left: 3rem;
  font-size: 3rem;
}

.name_nav a {
  text-decoration: none;
  color: blueviolet;
}

.name_nav a:hover {
  color: white;
  scale: 1.5;
}
/* Hamburger Bar */
.phone_nav {
  display: none;
}
/* Nav Bar */
.main_nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: center;
  width: 40%;
}

.main_nav a {
  min-width: 8rem;
  font-size: 2rem;
  margin: 0;
  display: block;
  color: black;
  text-decoration: none;
  transition: 1s;
}

.main_nav a:hover {
  color: blueviolet;
  cursor: pointer;
  scale: 1.5;
}

/* containers */

/* video section */

.containers {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.containers h2 {
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 3rem;
  color: black;
}

.videos01,
.videos02,
.videos03 {
  position: flex;
  flex-direction: row;
  /* flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%; */
  overflow: hidden;
  margin: 24px auto;
  width: 75%;
}

video {
  border: outset;
  border-width: 1rem;
  border-radius: 10px;
  border-color: brown;
}

.text {
  border-style: solid;
  border-color: black;
  background-color: blueviolet;
  border-radius: 10px;
}

.text h3 {
  margin: 1rem;
  font-size: 3rem;
  color: white;
}

.text p {
  margin: 1rem;
  font-size: 1rem;
  color: white;
}

.text p:hover {
  font-size: 3rem;
  color: black;
}

/* Images */

.container2 {
  display: flex;
  column-gap: 20px;
}

.img_pattern1 img {
  margin-top: 3rem;
  border-style: outset;
  border-width: 0.5rem;
  border-color: brown;
  border-radius: 20px;
  scale: 0.9;
}

.img_pattern2 img {
  margin-top: 3rem;
  margin-top: 3rem;
  border-style: outset;
  border-width: 0.5rem;
  border-color: brown;
  border-radius: 20px;
  scale: 0.9;
}

.container2 article {
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  color: white;
  background-color: blueviolet;
  margin: 2rem;
}

.container2 p {
  font-size: 1rem;
  margin: 1rem;
}

.container2 a {
  font-size: 1rem;
  color: white;
  margin: 1rem;
  text-decoration: none;
}

.container2 p:hover {
  color: black;
  font-size: 1.5rem;
}

.container2 a:hover {
  color: black;
  font-size: 2rem;
}
/* bottom nav */
.bottom_nav {
  margin: 0 1rem 3rem 1rem;
}

.bottom_nav a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid purple;
  font-size: 2rem;
  border-radius: 50%;
  margin: 2rem 0 0 2rem;
  transition: 0.3s ease;
  color: black;
  text-decoration: none;
}

.bottom_nav a:hover {
  color: white;
  transform: scale(1.3) translateY(-5px);
  background-color: blue;
  box-shadow: 0 0 25px blue;
}

@media screen and (max-width: 1024px) {
  .name_nav {
    margin-left: 0;
    padding: 0;
    font-size: 2.5rem;
  }
  .main_nav {
    width: 100%;
  }

  .main_nav a {
    min-width: 8rem;
    margin-left: 2rem;
  }

  .containers h3 {
    font-size: 2rem;
  }

  .containers p:hover {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    height: 8rem;
  }

  .name_nav {
    position: absolute;
    text-align: center;
    margin-left: 7.5rem;
    margin-top: 0rem;
    padding-left: 5rem;
    font-size: 3rem;
  }

  .phone_nav {
    display: block;
    position: absolute;
    top: 2rem;
    left: 1rem;
    color: black;
    font-size: 4rem;
    cursor: pointer;
    z-index: 20;
  }

  .phone_nav:hover {
    color: white;
  }

  .main_nav {
    display: none;
    /* position: relative; */
    flex-direction: column;
    width: 100%;
    top: 1rem;
    background: url(../../Home_Page/img/herringbone.webp);
    background-size: cover;
    background-position: center;
    margin-top: 20rem;
    padding: 0;
    z-index: 10;
  }

  .main_nav.show {
    display: block;
  }

  .main_nav a {
    text-align: center;
    padding: 10px;
    margin-left: -1rem;
    /* border-bottom: 3px solid rgba(0, 0, 0); */
    border-style: solid;
    z-index: 11;
  }

  .main_nav a:hover {
    scale: 1.1;
    overflow-x: hidden;
  }

  .name_nav {
    display: block;
  }

  nav {
    display: none;
  }

  .show {
    display: block;
  }

  /* bottom nav */

  .bottom_nav {
    margin: 0;
  }

  .bottom_nav a {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
  }

  /* Center */

  .text p:hover {
    font-size: 1.8rem;
  }
  .container2 article {
    margin: 0;
  }

  .container2 p:hover {
    font-size: 1.2rem;
  }

  .container2 a:hover {
    font-size: 1.5rem;
  }
}
