html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url(../Img/desmumtz13.jpg);
}

/* top nav bar */

.navbar-brand {
  font-size: 3rem;
  color: slateblue;
}

.nav-link {
  font-size: 1.5rem;
  color: slateblue;
}

.nav-link:hover {
  color: #ccc;
}

.nav-lin:active {
  color: #ccc;
}

/* bottom nav bar */

.nav-link-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #1085ec;
  border-radius: 20px;
  text-decoration: none;
  font-size: 2rem;
  color: slateblue;
  transition: all 0.3s ease;
}

.nav-link-bottom:hover {
  color: #1085ec;
  border: 2px solid slateblue;
  transform: scale(1.2);
}

/* bio page */

/* 
.bg-gray {
  background-color: rgba(254, 196, 72, 0.1);
}

.bg-dark {
  background-color: var(--dark-color) !important;
}
  */

.main {
  position: relative;
  z-index: 1;
}

.bio-intro {
  color: #1085ec;
  /* font-size: 2rem; */
}

.bio-section {
  position: relative;
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  .bio-section {
    padding: 70px;
  }
}

.bio-section .container {
  position: relative;
  z-index: 1;
}

/* Editing the Top sentence */

.bio-section .bio-intro h6 {
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0 0 30px;
}

@media (max-width: 767px) {
  .bio-section .bio-intro {
    margin: 0 0 30px;
  }
}

/* cursor for typing animation */
#text,
.cursor {
  display: inline;
  vertical-align: baseline;
  font-family: inherit;
  font-size: inherit;
  white-space: nowrap;
}
.cursor {
  margin-left: 2px;
  color: slateblue;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Editing I'm a Designer part  */

.bio-section .bio-intro h1 {
  font-size: 70px;
  font-weight: 600;
  margin: 0 0 35px;
  line-height: 1;
}

@media (max-width: 1200px) {
  .bio-section .bio-intro h1 {
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  .bio-section .bio-intro h1 {
    margin: 0 0 25px;
    font-size: 45px;
  }
}

/* The type of job */
.bio-section .bio-intro h1 span {
  border-bottom: 2px solid slateblue;
}

/* editing p tag */
.bio-section .bio-intro p {
  font-size: 20px;
}

@media (max-width: 767px) {
  .bio-section .bio-intro p {
    font-size: 18px;
  }
}

/* image */

.bio-image img {
  height: 450px;
  width: 450px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #000;
  position: relative;
  z-index: -2;
}

@media (max-width: 767px) {
  .bio-image img {
    height: 300px;
    width: 300px;
  }
}

/* anim-alements */

.anim-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.anim-elements .anime-element {
  position: absolute;
  font-size: 30px;
}

/* animate the numbers so that they could move around the headings */
.anim-elements .anime-element:nth-child(1) {
  top: 12%;
  left: 15%;
  color: #1085ec;
  animation: aniOne 13s infinite linear alternate;
}

.anim-elements .anime-element:nth-child(2) {
  bottom: 15%;
  left: 4%;
  color: cornflowerblue;
  animation: aniTwo 13s infinite linear alternate;
}

.anim-elements .anime-element:nth-child(3) {
  bottom: 20%;
  left: 30%;
  color: cyan;
  animation: aniThree 13s infinite linear alternate;
}

.anim-elements .anime-element:nth-child(4) {
  bottom: 15%;
  right: 25%;
  color: darkseagreen;
  animation: aniFour 13s infinite linear alternate;
}

.anim-elements .anime-element:nth-child(5) {
  top: 18%;
  right: 25%;
  color: #333;
  animation: aniThree 13s infinite linear alternate;
}

.anim-elements .anime-element:nth-child(6) {
  top: 18%;
  right: 25%;
  color: goldenrod;
  animation: aniFour 13s infinite linear alternate;
}

.anim-elements .anime-element:nth-child(7) {
  top: 18%;
  right: 25%;
  color: goldenrod;
  animation: aniOne 13s infinite linear alternate;
}

.anim-elements .anime-element:nth-child(8) {
  top: 18%;
  right: 25%;
  color: goldenrod;
  animation: aniThree 13s infinite linear alternate;
}

/* The way the charatcers move around the screen */

@keyframes aniOne {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  40% {
    transform: translate(141px, 72px) rotate(75deg);
  }
  80% {
    transform: translate(-40px, 72px) rotate(145deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes aniTwo {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  40% {
    transform: translate(73px, -1px) rotate(36deg) scale(0.9);
  }
  80% {
    transform: translate(83px, 122px) rotate(108deg) scale(1.2);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

@keyframes aniThree {
  0% {
    transform: translate(-300px, 151px) rotate(0);
  }

  100% {
    transform: translate(251px, -200px) rotate(180deg);
  }
}

@keyframes aniFour {
  0% {
    transform: translate(61px, -99px) rotate(0);
  }
  20% {
    transform: translate(4px, -199px) rotate(38deg);
  }
  60% {
    transform: translate(-263px, -164px) rotate(108deg);
  }
  100% {
    transform: translate(-1px, 0) rotate(100deg);
  }
}
