/* default setting */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: blueviolet;
}

img {
  width: 100%;
  height: auto;
}

/* header and nav bar */

header {
  width: 100%;
  padding: 0;
  height: 100px;
  background: white;
  overflow-y: hidden;
  overflow-x: hidden;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url("../Home_Page/img/waterpattern.webp");
  position: relative;
}

/* header edits */

.name {
  padding: 10px;
  color: #333;
  font-size: 30px;
}

/* nav bar up top */

#main_nav ul {
  margin: 0;
  display: flex;
  list-style-type: none;
  text-align: left;
  background-color: rgba(40, 40, 40, 0.5);
}

#main_nav li {
  font-size: 10px;
  height: 50px;
  min-width: 100px;
  line-height: 50px;
}

.home {
  text-decoration: none;
  color: #333;
  display: block;
  transition: 1s;
  font-size: 20px;
}

.home:hover {
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
}

.home:active {
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
}

/* img */

.container_img {
  width: 100%;
  margin: -20%;
  margin-top: -25%;
  margin-left: -23%;
  /* scale: 0.5; */
  border: 10px solid purple;
  border-radius: 0.5rem;
  transform: scale(0.5);
  position: relative;
}

/* text container */

.container_bio {
  width: 50%;
  height: 50px;
  margin-left: 50%;
  /* margin-top: -89%; */
  font-size: 1.5rem;
  /* border: 5px solid black; */
  /* border-radius: 0.5rem; */
}

/* bottom nav */

.bottom_nav {
  background: url(../Home_Page/img/waterpattern.webp);
}

.bottom_nav ul {
  margin: 0;
  display: flex;
  list-style-type: none;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.bottom_nav li {
  font-size: 100px;
  height: 60px;
  min-width: 100px;
  line-height: 50%;
}

.bottom_nav a {
  text-decoration: none;
  color: #333;
  display: flex;
  transition: 1s;
  font-size: 25px;
}

.bottom_nav a:hover {
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
}

.bottom_nav a:active {
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
}

/* Tablet Mode */
@media screen and (max-width: 1024px) {
}

/* Phone mode */
@media screen and (max-width: 768px) {
}


/* html */

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bio</title>
    <link rel="stylesheet" href="./bio.css" />
  </head>
  <body>
    <header>
      <h1 class="name">Harry Wu</h1>
      <nav id="main_nav">
        <ul>
          <li><a href="../Home_Page/library.html" class="home">Home</a></li>
          <li><a href="#" class="home">Projects</a></li>
          <li><a href="#" class="home">Resume</a></li>
          <li>
            <a href="../../../../Contact-C/contact_me copy.html" class="home"
              >Contact</a
            >
          </li>
          <li><a href="bio.html" class="home">Bio</a></li>
        </ul>
      </nav>
    </header>

    <div class="container_img">
      <img src="../Home_Page/img/Harry's_Pic.jpg" alt="Bio Page" />
    </div>

    <div class="container_bio">
      <ul>
        Hi my name is Harry. Currently 20 years old and a sophomore at NYU
        Tandon School of Engineering, majoring in Integrated Design and Media.
        My hobbies involve: Video Games, Animations, Novels, and Food.
      </ul>
    </div>

    <div class="bottom_nav">
      <nav id="second_nav">
        <ul>
          <li>
            <a href="../Home_Page/library.html" class="home">Home</a>
          </li>
          <li><a href="#" class="home">Projects</a></li>
          <li><a href="#" class="home">Resume</a></li>
          <li>
            <a href="../../../../Contact-C/contact_me copy.html" class="home"
              >Contact</a
            >
          </li>
          <li><a href="bio.html" class="home">Bio</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>